

<form method="post" action="{{ path('produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button type="submit" class="btn btn-fill btn-primary btn-sm me-2">Supprimer</button>
</form>
