{% extends 'base_dashboard.html.twig' %}

{% block title %}Modifier Produit{% endblock %}

{% block body %}
    <h4 class="title">Modifier Produit</h4>

    {{ include('produit/_form.html.twig', {'button_label': 'Enregistrer'}) }}


    {{ include('produit/_delete_form.html.twig') }}
    <br>
    <a href="{{ path('produit_dashboard_index') }}">back to list</a>
{% endblock %}
