{% extends 'base_dashboard.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    <h4 class="title">Ajouter Produit</h4>

    {{ include('produit/_form.html.twig') }}
<br>
    <a href="{{ path('produit_dashboard_index') }}">back to list</a>
{% endblock %}
