

<form method="post" action="{{ path('categorie_delete', {'id': categorie.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette catégorie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
    <button type="submit" class="btn btn-fill btn-primary btn-sm me-2">Supprimer</button>
</form>
