{% extends 'base_dashboard.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
<h4 class="title">Ajouter Catégorie</h4>

    {{ include('categorie/_form.html.twig') }}
<br>
    <a href="{{ path('categorie_dashboard_index') }}">back to list</a>
{% endblock %}
